* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFBF6;
    /* margin-left: 100px;
    margin-right: 100px; */
   
  
}

h1{
    position: absolute;
    font-family: 'Gudea', sans-serif;
    
    
}
h2 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 60px;
    font-size: 80px;
    padding-top: 50px;
  
}
h3{
    font-family:'Anton', sans-serif ;
    font-size: 50px;
}

h4 {
  
    font-family: 'Gudea', sans-serif;
    color: white;
   
}

p{
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}
nav{
    padding-bottom: 10px;
    overflow:hidden;
    font-family: 'Gudea', sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li{
      display: inline;
      float: right;
     
  }

  a{
      display: block;
      padding: 8px;
     text-decoration: none; color: black;

  }

  p{
    font-family: 'Gudea', sans-serif;
    
  }

  .herosection {
    background: rgb(117,114,114);
    background: linear-gradient(31deg, rgba(117,114,114,1) 0%, rgba(15,15,15,1) 48%, rgba(2,0,36,1) 100%);
    height: 900px;
  }

  .container {
      position: absolute;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      /* background-color: red; */
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
           /* padding-left: 5%;
      padding-right: 5%; */
      width: 100%;
     
  }

.title{
    /* background-color: rgb(211, 131, 131); */
    font-family: 'Anton', sans-serif;
    font-size: 150px;
    color: white;
    padding: 10%;
}
  .gridtext{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 2;
      display: inline block;
      /* background-color: yellow; */
      width: 700px;
      color: white;

  }

  #type{
     border-right: 2px solid rgb(255, 255, 255);
     margin-left: 80px;
     height: 250px;
     width: 250px;

  }
  #info{
       /* background-color: pink; */
       width: 200px;
      
  }

  .gridimage {
      grid-column: 2/4;
      grid-row: 1/5;
      height: 700px;
      
  }

  #herosectionimg {
    height:100%;
    object-fit:cover;
  }

.container2{ 

   background-color: rgb(250, 226, 117);
   height: 850px;
   width: 100%;
}
.userflow{
 /* position: relative; */
    display: block;
    margin-left: 100px;
    margin-right: 100px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.userflow img {
        height: 600px;
        
}
.sketches{
    position: relative;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
}

.sketches img {
    height: 550px;

}

.container4{
    margin-top: 50px;
    height: 1000px;
    width: 100%;
}

.wireframes{
    /* position: relative; */
    display: block;
    /* margin-left: 100px;
    margin-right: 100px; */
    color: white;
   
}

.wireframeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.wireframeimg{
flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.wireframes h2{
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
   
    
}

.container5{
    margin-top: 50px;
    height: 600px;
    width: 100%;
   
}

.designelements{
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    
}

.textbox{
    
    padding-top: 20%;
    margin: 100px;
}

.colour{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.colour img{
    height: 250px;
    
}

.imagefile{
    margin-top: 30px;
    height: 100%;
}

.contactinfo{
    height: 300px;
    background-color:rgb(72, 103, 106)
  }
  
  .contact {
    padding-top: 50px;
    text-align: center;
  }
  
  .icons {
    padding-top: 50px;
  }

/* BUTTON */
.button {
    background-color : #ffffff;
  border: none;
    padding: 15px 40px;
    border-radius: 30px;
   outline: none;
    opacity: 80%;
    font-family: 'Gudea', sans-serif;
  }
  
  #mybutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  /* 
mobil */

.mobilenav{
   
    display: none;
}