body{
    background-color: #FFFBF6;
    margin-left: 100px;
    margin-right: 100px;
   
  
}

h1{
    position: absolute;
    font-family: 'Gudea', sans-serif;
}
h2 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 60px;
    font-size: 80px;
  
}
h3{
    font-family:'Anton', sans-serif ;
    font-size: 50px;
}

h4 {
  
    font-family: 'Gudea', sans-serif;
    color: white;
   
}

p{
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}
nav{
    overflow:hidden;
  font-family: 'Gudea', sans-serif;
  font-size: 18px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li{
      display: inline;
      float: right;
     
  }

  a{
      display: block;
      padding: 8px;
     text-decoration: none; color: black;

  }

  p{
    font-family: 'Gudea', sans-serif;
    
  }

  /* 
mobil */

.mobilenav{
    display: none;
}