* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFBF6;
    /* margin-left: 100px;
    margin-right: 100px; */
   
  
}

h1{
    position: absolute;
    font-family: 'Gudea', sans-serif;
    
    
}
h2 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 60px;
    font-size: 80px;
    padding-top: 50px;
  
}
h3{
    font-family:'Anton', sans-serif ;
    font-size: 50px;
}

h4 {
  
    font-family: 'Gudea', sans-serif;
    color: white;
   
}

p{
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}
nav{
    padding-bottom: 10px;
    overflow:hidden;
    font-family: 'Gudea', sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li{
      display: inline;
      float: right;
     
  }

  a{
      display: block;
      padding: 8px;
     text-decoration: none; color: black;

  }

  p{
    font-family: 'Gudea', sans-serif;
    
  }

  .herosection {
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgb(109, 203, 230) 0%, rgb(190, 242, 171) 48%, rgb(237, 237, 152) 100%);
    height: 800px;
  }

  .container{
    position: relative;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: red; */
    /* padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%; */
         /* padding-left: 5%;
    padding-right: 5%; */
    width: 100%;
   
  }

  .phonecases img{
      margin-top: -85px;
      position: absolute;
      height: 900px;
       width: 100%;
        object-fit: contain;
       
      }

.gridtext{
    position: absolute;
    
}









    /* 
mobil */

.mobilenav{
   
    display: none;
}