* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFBF6;
    /* margin-left: 100px;
    margin-right: 100px; */
   
  
}

h1{
    position: absolute;
    font-family: 'Gudea', sans-serif;
    
    
}
h2 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 60px;
    font-size: 80px;
    padding-top: 50px;
  
}
h3{
    font-family:'Anton', sans-serif ;
    font-size: 50px;
}

h4 {
  
    font-family: 'Gudea', sans-serif;
    color: white;
   
}

p{
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}
nav{
    padding-bottom: 10px;
    overflow:hidden;
    font-family: 'Gudea', sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li{
      display: inline;
      float: right;
     
  }

  a{
      display: block;
      padding: 8px;
     text-decoration: none; color: black;

  }

  p{
    font-family: 'Gudea', sans-serif;
    
  }

  .herosection {
      display: block;
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgb(84, 166, 242) 0%, rgb(190, 238, 173) 48%, rgb(255, 255, 201) 100%);
    height: 1000px;
  }

  .container{
   
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
   
  }

  .phonecases img{
      margin-top: 115px;
      position: absolute;
      height: 900px;
       width: 100%;
        object-fit: contain;
       
      }

.gridtext{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 200px;
    margin-top: 20px;
    display: inline block;
    width: 200px;
    color: white;
    
}
 #info{
       /* background-color: pink; */
       margin-left: 50px;
       width: 300px;
      
  }

  #type{
    border-right: 2px solid rgb(255, 255, 255);
    height: 205px;
    width: 150px;

 }

.title{
    /* background-color: rgb(211, 131, 131); */
    font-family: 'Gudea', sans-serif;
    font-size: 150px;
    color: white;
    margin-left: 200px;
    width: 800px;
   
}

.empty {
    height: 590px;
    width: 100vw;
}
 .container2{ 
    background-color: rgb(159, 222, 183);
    height: 900px;
    width: 100%;
    /* display: block; */
 }
 .userflow{
  position: relative;
     display: block;
     margin-left: 100px;
     margin-right: 100px;
     color: white;
 }
 
 .center {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .userflow img {
         height: 600px;
         
 }

.container3{
    margin-left: 100px;
    margin-right: 100px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
}

.grid1{
    grid-column: 1;
}

.grid2{
    margin-left: 25%;
    margin-top: -100px;
    grid-column: 2;
}

.sketches1{
    display: flex;
    height: 700px;
    padding-bottom: 50px;
    justify-content: center;
  
}


.container4{
   height: 1300px;
   background-color: rgb(159, 222, 183);
}

.wireframes{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.grid3{
    margin-left: 100px;
    margin-top: -20px
}


.container5{
    display: flex;
   justify-content: flex-end;
}

.contactinfo{
    height: 300px;
    background-color:rgb(72, 103, 106)
  }
  
  .contact {
    padding-top: 50px;
    text-align: center;
  }
  
  .icons {
    padding-top: 50px;
  }

  /* BUTTON */
.button {
    background-color : #ffffff;
  border: none;
    padding: 15px 40px;
    border-radius: 30px;
   outline: none;
    opacity: 80%;
    font-family: 'Gudea', sans-serif;
  }
  
  #mybutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }




    /* 
mobil */

.mobilenav{
   
    display: none;
}