body{
    background-color: #FFFBF6;
    margin-left: 100px;
    margin-right: 100px;
   
  
}

h1{
    position: absolute;
    font-family: 'Gudea', sans-serif;
}
h2 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 60px;
    font-size: 32px;
  
}
h3{
    font-family:'Gudea', sans-serif ;
    font-size: 28px;
}
nav{
    overflow:hidden;
  font-family: 'Gudea', sans-serif;
  font-size: 18px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li{
      display: inline;
      float: right;
     
  }

  a{
      display: block;
      padding: 8px;
     text-decoration: none; color: black;

  }

  p{
    font-family: 'Gudea', sans-serif;
    font-size: 18px;
  }

.herosection img{
    width: 1200px;
    opacity: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cv img{
    width: 1000px;
    opacity: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.structure {
    grid-template-rows: inherit;
    margin: left 0;;
 
}

.contactinfo{
  height: 300px;
  background-color: aqua;
}

/* about */

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  
   
}

.cvgrid{
    margin-top: 50px;
    /* margin-left: 15%; */
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* .wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    row-gap: 20px;
    background-color: red;

} */
 /* .sec1{
    position: inherit;
    width: 100px;
    height: 20px;
    color: purple;
 } */


 .container {
    display: grid;
    margin-bottom: 50px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    @media screen and (max-width: 60em) {
      grid-template-rows: repeat(4, 1fr);
    }
  }
  
  /* // .grid-1,
  // .grid-2,
  // .grid-3,
  // .grid-4 {
  //   grid-template-rows: repeat(6, 1fr);
  //   grid-template-columns: repeat(6, 1fr);
  // } */
  .grid-1 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 1;
    }
  }
  
  .grid-2 {
      background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 2;
    }
  }
  
  .grid-3 {
      background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 3;
    }
  }
  
  .grid-4 {
      background-color: yellow;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 4;
    }
  }
  
  .callout {
    margin: 0;
  }
  





/* 
mobil */

.mobilenav{
    display: none;
}